.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.thumb{
    height: 250px;
    overflow: 250px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.thumb :hover{
    transform: sacale(1.05);
    box-shadow: 0 0 15px rgb(125, 121, 121);
}
